modules/*/*
!modules/*/replicaset-prod.y?ml
!modules/*/resource?.y?ml
!modules/*/extra_env.y?ml
!modules/*/java_opts.y?ml
!modules/*/probe?.y?ml
!modules/*/service?.y?ml
!modules/*/sidecar.y?ml
*/[a-zA-Z0-9-_]*overrides.y?ml